<div class="modal fade" name="productos_tmp" id="productos_tmp" tabindex="-1" role="dialog" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <a href="{{url_formato}}" class="close"><i class="fa file-excel-o"></i> Descargar formato</a>
        <h4 class="modal-title">
            Cargar Lista De Precios
        </h4>
      </div>

      <div class="modal-body">
        <form id="listaTmpForm" name="listaTmpForm" role="form" validate-form="procesar_archivo()" novalidate>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12 form-group">
                  <div class="col-sm-6">
                    <div class="to-validate">
                      <span class="btn btn-primary btn-sm btn-file input-large">
                        <span class="mensaje_error">*</span> Archivo Precios Proveedor
                        <input type="file" id="file" name="file" xlsx-model="file_model_data.value" file-model="file_model.value" accept=".xlsx">
                      </span>
                      <span ng-if="file_model.value.name">{{file_model.value.name}}</span>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label class="col-sm-4"> <span class="mensaje_error">*</span> Tipo Carga:</label>
                    <div class="to-validate">
                      <label class="col-sm-4">
                        <input type="radio" ng-model="listado_precios.tipo_carga" value="1">
                        Completa
                      </label>

                      <label class="col-sm-4">
                        <input type="radio" ng-model="listado_precios.tipo_carga" value="0">
                        Parcial
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                  <div class="col-sm-12 form-group">
                      <div class="col-sm-6">
                          <label class="col-sm-5"> <span class="mensaje_error">*</span> Proveedor:</label>
                          <div class="to-validate">
                              <select id="proveedor" name="proveedor" chosen ng-model="listado_precios.codigo_proveedor"
                                  data-placeholder="Seleccione una opción" class="col-sm-6 input-sm"
                                  ng-options="proveedor.codigo_proveedor as proveedor.proveedor for proveedor in proveedores">
                                  <option value=""></option>
                              </select>
                              <input validation type="hidden" id="proveedor" name="proveedor" ng-model="listado_precios.codigo_proveedor" required>
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <label class="col-sm-5"> <span class="mensaje_error">*</span> Tipo Moneda:</label>
                          <div class="to-validate">
                              <select id="tipo_moneda" name="tipo_moneda" chosen ng-model="listado_precios.tipo_moneda"
                                  data-placeholder="Seleccione una opción" class="col-sm-6 input-sm"
                                  ng-options="tipo_moneda.codigo as tipo_moneda.descripcion for tipo_moneda in tipos_monedas">
                                  <option value=""></option>
                              </select>
                              <input validation type="hidden" id="tipo_moneda" name="tipo_moneda" ng-model="listado_precios.tipo_moneda" required>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-sm-12" ng-if="productos_tmp.length" >
                <hr>
                <div class="text-center">
                  <h2> Observaciones del archivo cargado </h2>
                </div>
                <hr>

                <div class="row col-sm-12">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center">N. Linea</th>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Valor Unitario</th>
                        <th class="text-center">Mensaje</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key_producto, producto) in productos_tmp">
                        <td> {{ producto.linea }} </td>
                        <td> {{ producto.codigo_producto }} </td>
                        <td class="text-right"> {{ producto.precio }} </td>
                        <td> {{ producto.mensaje_error }} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="clearfix form-actions">
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-saved"></i>
                        Guardar
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="cancelar_modal()">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Cancelar
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
