<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Example</div>
                <div class="panel-body">
                    <h1>MODULO Example</h1>
                    <h2>Generador de modulos</h2>
                    <h3>run command line</h3>
                    <pre>
                        dir_proyecto/modulos/utils$ ./new_module.sh
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>

